<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApG-f1FUhtFkrHr30ap9HN04Q2dBUn-Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>53952636966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dima</string>
	<key>PROJECT_ID</key>
	<string>club-60d94</string>
	<key>STORAGE_BUCKET</key>
	<string>club-60d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53952636966:ios:8408fcdd60af4b90959ee7</string>
	<key>DATABASE_URL</key>
	<string>https://club-60d94-default-rtdb.firebaseio.com</string>
</dict>
</plist>